:host ::ng-deep {
  article-category-tree-node > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-group {
    margin: 0;
  }

  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }

  article-category-tree-node .action-buttons {
    margin: 0;
  }
}
